$primary-color: #3498db;
$secondary-color: #2ecc71;
$danger-color: #e74c3c;
$font-family: 'Arial, sans-serif';
$button-padding: 0.5em 1em;
$border-radius: 5px;
$form-bg: #fff;
$form-border: 1px solid #ddd;
$form-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$form-padding: 1em;
$input-padding: 10px;
$input-border: 1px solid #ccc;

body {
  font-family: $font-family;
  background-color: #f4f4f4;
  color: #333;
}

h2 {
  color: $primary-color;
  text-align: center;
  margin-bottom: 1em;
}

div {
  max-width: 600px;
  margin: 0 auto;
  padding: $form-padding;
  background-color: $form-bg;
  border: $form-border;
  border-radius: $border-radius;
  box-shadow: $form-shadow;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
select,
textarea,
.input {
  width: 100%;
  padding: $input-padding;
  margin-top: 5px;
  border: $input-border;
  border-radius: $border-radius;
  box-sizing: border-box;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: $primary-color;
    outline: none;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: #fff;
  padding: $button-padding;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 0.7em;
  transition: background-color 0.3s ease;
  margin-top: 1em;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    opacity: 0.9;
  }

  mat-icon {
    margin-right: 0.5em;
  }

  .hidden {
    display: none;
  }

  .sm\\:flex {
    display: none;
    /* Hidden by default */
  }

  .ml-2 {
    margin-left: 0.5em;
  }

  @media (min-width: 640px) {

    // Tailwind's sm breakpoint
    .hidden {
      display: none !important;
    }

    .sm\\:flex {
      display: flex !important;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 1em;

  li {
    background-color: lighten($form-bg, 5%);
    border: $form-border;
    border-radius: $border-radius;
    padding: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: $form-shadow;
  }
}

@media (max-width: 600px) {
  div {
    padding: calc($form-padding / 2);
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="time"],
  select,
  textarea,
  .input {
    width: 100%;
  }
}
